* {
  box-sizing: border-box;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  /* background-color: #3f3f3f !important; */
  background: rgb(55, 9, 9);
  background: linear-gradient(
    220deg,
    rgba(55, 9, 9, 1) 8%,
    rgba(213, 213, 221, 1) 76%
  ) !important;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
